body{
    font-family: Arial,sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
h1{
    color: #333;
}
form{
    background: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}
input, button{
    padding: 8px;
    margin: 5px 0;
    width: 100%;
}
button{
    background-color:#2e86de ;
    color: white;
    border: none;
    cursor:pointer;
}
button:hover{
    background-color: #1b4f72;
}
table {
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2e86de;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}